@media (width < 700px) {
    .container{
        padding: 16px 32px;
    }
    .heading{
        font-size: 32px;
    }
    .input{
        height: 64px;
        margin-bottom: 24px;
        border-radius: 12px;
    }
    #task{
        height: 62px;
    }
    .custom-checkbox{
        width: 20px;
        height: 20px;
    }
    .footer{
        margin-top: 32px;
    }
    .bar{
        height: 20px;
    }
    .complete-progress{
        height: 20px;
    }
    .completed .custom-checkbox img{
        padding-left: 2px;
        padding-top: 5px;
    }
    #completed-text{
        display: block;
        color: white;
        padding-left: 25px;
        font-size: 12px;
        font-weight: 500;
        padding-top: 2px;
    }
}

